.page-homepage-ad{
    width: 100%;
    height: 157px;
    overflow: hidden;
}
.page-homepage-ad>img{
    width:100%;
    height: 157px;
}
.page-home-curRecommends{
    width:100%;
}
.cur{
    width:100%;
    height: 50px;
    background-color: #F6F6F6;
    border-bottom: 1px solid #ccc;
}
.cur:after{
    content: '';
    display: block;
    clear: both;
}
.cur>h3{
    width:100px;
    height: 50px;
    line-height: 50px;
    float: left;
    color: #2E85CC;
    margin-left: 10px;
    margin-top: 0px;
}
.cur>i{
    display: block;
    float: right;
    width:20px;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    font-size: 20px;
    color: #2E85CC;
}
/*.page-home-curBooks{*/
    /*width:50%;*/
    /*min-height: 100px;*/
    /*/!*border: 1px solid red;*!/*/
    /*float: left;*/
/*}*/


/*.pic>div:after{*/
     /*content: '';*/
     /*display: block;*/
     /*clear: both;*/
 /*}*/
.pic{
    width:100%;
    overflow: hidden;
}
.pic>div{
    width:33.3%;
    box-sizing:border-box;
    float: left;
    height: 160px;
    border:1px solid #ccc;
    background-color: #fff;
}
.pic>div>img{
    display: block;
    width:100%;
    height: 130px;
    float: left;
}
.pic>div>span{
    font-size: 10px;
    color: #2E85CC;
    width:100%;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
}