<div>
    <div class="page-headers">
        <a href="#" onclick="javascript :history.back(-1);" class="fa fa-chevron-left"></a>
        <span>用户登录</span>
    </div>
    <div class="page-body">
        <form name="frm" novalidate>
            <div class="login-user">
                <i class="fa fa-user-circle-o"></i>
                <input ng-model="reader.phone" type="text" placeholder="请输入手机号码" name="phone" id="phone" required pattern="1[34578]\d{9}$"/>
                <label ng-show="frm.phone.$dirty&&frm.phone.$invalid">
                    <span ng-show="frm.phone.$error.required" style="color: red;">手机号码不能为空</span>
                    <span ng-show="frm.phone.$error.pattern" style="color: red;">手机格式不正确</span>
                </label>
            </div>
            <div class="login-password">
                <i class="fa fa-unlock-alt"></i>
                <input ng-model="reader.password" type="password" placeholder="请输入密码" name="password" id="password" required pattern="\d{4}$"/>
                <label ng-show="frm.password.$dirty&&frm.password.$invalid">
                    <span ng-show="frm.password.$error.required" style="color: red;">密码不能为空</span>
                    <span ng-show="frm.password.$error.pattern" style="color: red;">密码格式不正确</span>
                </label>
            </div>
            <div class="forget">
                <p id="loginTishi">请输入正确的手机号码或密码</p>
                <p ng-click="goRevise()">忘记密码?</p>
                <p ng-click="goRegister()">注册新用户</p>
            </div>
            <button class="btnLogin" type="button" ng-click="login()">登录</button>
        </form>


    </div>
</div>