<div>
    <div class="page-headers">
        <a href="#" onclick="javascript :history.back(-1);" class="fa fa-chevron-left"></a>
        <span>注册</span>
    </div>
    <div class="page-body">
        <form name="frm" novalidate>
            <div class="login-user">
                <i class="fa fa-user-circle-o"></i>
                <input type="text" placeholder="请输入用户名"  ng-model="registerReader.name" />
            </div>
            <div class="login-user">
                <i class="fa fa-unlock-alt"></i>
                <input type="password" placeholder="请输入密码" name="revisePassword" ng-model="registerReader.password" required pattern="\d{4}$"/>
                <label ng-show="frm.revisePassword.$dirty&&frm.revisePassword.$invalid">
                    <span ng-show="frm.revisePassword.$error.required" style="color: red;">密码不能为空</span>
                    <span ng-show="frm.revisePassword.$error.pattern" style="color: red;">密码必须为四位数字</span>
                </label>
            </div>
            <div class="login-password">
                <i class="fa fa-unlock-alt"></i>
                <input type="password" name="confrim"  placeholder="请输入确认密码" ng-model="registerReader.confrim"/>
                <label ng-show="frm.confrim.$dirty&&registerReader.password!=registerReader.confrim" style="color:red;">两次密码不一致</label>
            </div>
            <button class="tijiao" style="background-color: red;width:95%;height: 50px;margin:auto;display: block;color:#fff;border: 0;"  type="button" ng-click="confirmRegister()">注册</button>
        </form>

    </div>
</div>