<div>
    <div class="page-headers">
        <a href="#" onclick="javascript :history.back(-1);" class="fa fa-chevron-left"></a>
        <div class="search1" >
            <input type="text" placeholder="请输入图书的名字/ISBN号" ng-model="keyword"/>
            <i class="fa fa-search" ng-click="searchList()"></i>
        </div>

    </div>
    <div class="page-body">
        <div class="history">
            <h4>搜索记录</h4>
        </div>
        <div class="history1">
            <span ng-repeat="item in keywordArray">{{item}}</span>
            <!--<p></p>-->
            <div ng-click="clear()">清空历史记录</div>
        </div>


    </div>
    <!--<page-nav title="1"></page-nav>-->
</div>